<div id="send-yourdesign" class="send-yourdesign" data-magellan-target="send-yourdesign">
	<h2 class="text-center">Send your design</h2>
	<div class="row align-center">
		<div class="medium-8 columns">
			<div class="form-container">
				<form>
					<div class="row align-center">
						<div class="medium-8 small-10 columns">
							<legend>We can print your design! Just fill the following form.</legend>
							<label>Name
								<input type="text" placeholder="Your Name" />
							</label>
						</div>
					</div>
					<div class="row align-center">
						<div class="medium-8 small-10 columns">
							<label>E-mail
								<input type="email" placeholder="Your E-mail" />
							</label>
						</div>
					</div>
					<div class="row align-center">
						<div class="medium-8 small-10 columns">
							<label>Message
								<textarea placeholder="Your message"></textarea>
							</label>
						</div>
					</div>
					<div class="row align-center">
						<div class="medium-8 small-10 columns">
							<label for="uploadfile" class="button">Upload File</label>
								<input type="file" id="uploadFile" class="show-for-sr" />
							
						</div>
					</div>
					<div class="row align-center">
						<div class="medium-8 small-10 columns">
								<input type="submit" class="button secondary" value="Send" />
						</div>
					</div>
				</form>
			</div><!-- END .form-container -->
		</div><!-- END .medium-8 .columns -->
	</div><!-- END .row .align-center -->
</div>